<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/faviconsea.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,300;1,300&family=Jost:ital,wght@1,300&family=Julius+Sans+One&family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;1,7..72,200&family=Mansalva&family=Pixelify+Sans&family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_homepage3.css') }}">
    <link rel="shortcut icon" href="../static/imagens/faviconsea.png" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Negociação de Debitos</title>



</head>
<body>

   



<main class = "conteudo-principal">
    <div class="autor">

        <div class="imagens-laterais">
            <img src="{{ url_for('static', filename='imagens/seatelecomimg.png') }}" alt="Logo"> 
         </div> 
    
         <div class = "footer">
    
            <div class = "links">
        
            <a href="https://github.com/CaioLir4" target="_blank">Caio Lira | </a>
              <a href="https://github.com/ewdson7" target="_blank">Ewdson Tiago | </a>
                <a href="https://github.com/DevSabrisant" target="_blank">Sabrina Santana</a>
    
            </div>
                <img id = "git" src="{{ url_for('static', filename='imagens/github.png') }}" alt="github">  
            </div>
    
         </div>
<div class="container">
    <form action="/homepage5" method="post">
        <br>
        <div>
            <label for="dataSolicitacoes">Data de Vencimento</label>
            <input type="date" id="dataSolicitacoes" name="dataSolicitacoes" required>
        </div>
        <br>
       
        <div>
            <label for="valorBoleto">Valor Fatura:</label>
            <input type="float" id="valorBoleto" name="valorBoleto" required>
        </div>

        
        <div style="display: none;">
            <form id="dadosForm">
                <input type="hidden" id="valorBoleto" name="valorBoleto">
                <input type="hidden" id="dataSolicitacao" name="dataSolicitacao">
                <ul id="vencimentos">
                    <li>5</li>
                    <li>10</li>
                    <li>15</li>
                    <li>20</li>
                    <li>25</li>
                    <li>30</li>
                </ul>
            </form>
        </div>
        
        <script src="script.js"></script>
        
       
        <br>

         
          
        
          
  
         <div class="button-container">
            <button type="submit">Calcular</button>
            <button type="button" onclick="copiarTexto3()">Copiar</button>
        </div>

        <textarea id="resultado_negociacao" name="resultado_negociacao" rows="4" readonly>{{ resultado_negociacao or 'Resultado' }}</textarea>

        <button type="button" onclick="Home()">Voltar</button>
    </form>



</div>
</main>



</div>



</body>
</html>